* {
    font-family: 'Oswald', sans-serif;
}

h1 {
    color: darkkhaki;
    font-family: 'Abril Fatface', cursive;
}

h2 {
    color: chocolate;
    font-family: 'Oswald', sans-serif;
}

h3 {
    color: peru;
    font-family: 'Oswald', sans-serif;
}

h4 {
    color: lime;
    font-family: 'Oswald', sans-serif;
}

h5{
    color: olive;
    font-family: 'Oswald', sans-serif;
}

h6 {
    color: pink;
    font-size: 1.5em;
    border: 2px red solid;
    margin: 0;
}

p {
    color: darkblue;
    font-size: 1em;
    line-height: 2em;
}

header{
    background-color: white;
    /* height: 110px; */
    justify-content: space-around;
}

main {
    /* height: 530pt; */
    padding: 24px;
    justify-content: space-around;
    background-color: #05A72C;
    /* background-color: rgba(5, 167, 44, 0.4) */
}

footer {
    background-color: #eee;
    /* height: 550pt; */
}

.txtCenter{
    text-align: center;
}

.txtJustify{
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
}

li a{
    display: inline-block;
    padding: 4px 8px;
}


.headtest{
    color:black;
    font-size: 1.5em;
}

.icon-red{
    color: darkmagenta;
    font-size: 64px;
}

.bkColorGray{
    background-color: #f7f7f7;
}

.bkSizeLarge{
    /* height: 350pt; */
    padding: 24px;
}

.imgRounded {
    border-radius: 50%;
    background-image: url("../images/photo-1503401639559-b16332601594.jpg");
    width: 100px;
    height: 100px;
    background-color: magenta;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0;
    display: block;
    margin: 0 auto;

    /* margin-left: auto;
    margin-right: auto;
    width: 30%; */
}

.logoEvernote {
    background-image: url("../images/evernote_logo.png");
    width: 200px;
    height: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

button{

}

.button-outline{
    display: inline-block;
    height: 40px;
    border-radius: 3px;
    text-decoration: none;
    text-align:  center;
    border: 2px solid green;
    padding: 0 10;
}

a{
    /* padding: 10px 50px; */
    /* padding-top: 50px: */
    /* margin: 30px; */
    /* border: 30px; */
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
    color: black;
}

a:hover{
    color: aquamarine;
    text-decoration: underline;
}
a:active{
    color: rebeccapurple;
}

.row {
    display: flex;
}

.col {
    /* float: left; */
    padding: 16px 48px;
    /* border: 1px solid green; */
    /* width: 30%; */
}

.col-1 {width: 8.33%;}
/* .col-2 {width: 16.66%;} */
.col-2 {width: calc(100%/6);}
.col-3 {width: 25%;}
/* .col-4 {width: 33.33%;} */
.col-4 {
    width: calc(100%/3);
}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}